@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Proza+Libre&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant:wght@300&family=Passion+One&family=Princess+Sofia&family=Sriracha&display=swap');

:root{
    --font1: 'Bree Serif', serif;
    --font2: 'Cormorant', serif;
    --font3: 'Proza Libre', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;
    color: white;
}

.container {
    position: relative;
    width: 95vw;
    max-width: 1000px; /* Defina a largura máxima da div conforme necessário */
    margin: 0 auto; /* Centraliza a div na página */
    padding: 30px;
}

a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    background-color: black;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header > h1{
    font-family: var(--font1);
    position: relative;
    background-color: black;
    font-size: 1.5em;
}

header > a:hover{
    color: #01C3BE;
    text-decoration: underline;
} 

.imagem{
    background-color: white;
    color: white;
    background-position: right center;
    background-size: cover;
    position: relative;
}

#img1{
    background-image: url('../imagens/fundoimg1.jpg');
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.imagem h1{
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-family: var(--font2);
}

.imagem p{
    background-color: rgba(0, 0, 0, 0);
    font-family: var(--font2);
}

div#topo > p{
    font-family: var(--font3);
    margin-bottom: 10px;
}

div#topo > h1{
    margin: 10px;
    font-family:var(--font2) ;
}

.button{
    display: block;
    margin: auto;
    text-align: center;
}

#iorc{
    width: 171px;
    background-color: #2F2F2F;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

#iorc:hover{
    translate: -1px -1px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.448);
    transition: 1s;
}

.qs{
    font-weight: bolder;
    font-family:'Cormorant', serif ;
    color: #003777;
    height: 100%;
    text-align: center;
    padding: 15px;
}

main{
    margin-top: 0px;
}

.grid-serv{
    display: block;
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

.servico {
    font-family: var(--font2);
    text-align: center;
    color: #003777;
    font-weight: 900;
    font-size: 150%;
    padding: 10px;
    margin-top: 20px;
}


.servico > p{
    align-self: center;
    margin-top: 20px;
}

.servico > img{
    border-radius: 10px;
    width: 80%;
}

.form{
    background-color: #2F2F2F;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    background-color: #2F2F2F;
}

form input{
    border: none;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

form textarea{
    border: none;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

form button{
    border: none;
    background-color: #5BC5AE;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

form label{
    font-family: var(--font3);
    background-color: #2F2F2F;
}

iframe{
    display: block;
    margin: 10px auto;
    width: 80vw;
    border-radius: 10px;
    
}

footer{
    font-size: .8em;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

footer#p-1{
    right: 0;
    margin-bottom: 5px;
}

footer#p-1{
    left: 0;
}

footer > p > a{
    color: white;
}

footer > p > a:hover{
    color: white;
}

footer > p > a:active{
    color: white;
}

@media (max-width: 800px) {

    header a{
        display: none;
    }

    main{
        margin-top: 80px;
    }

    .container{
        text-align: center;
        font-size: .8em;
        margin: auto;
        padding: 0;
    }

    .button{
        display: block;
    }
    
    #iorc{
        position: relative;
        right: 0;
    }
}

@media (max-width: 630px){
    main{
        margin-top: 80px;
    }

    .grid-serv{
        position: relative;
        margin: auto;
    }
    .servico{
        margin: 10px;
    }
}