@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 95vw;
    max-width: 800px; /* Defina a largura máxima da div conforme necessário */
    margin: 0 auto; /* Centraliza a div na página */
    padding: 30px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    background-color: #003777;
    text-align: center;
    margin: 20px;
    padding: 30px;
    border-radius: 40px;
}

header > img{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 171px;
}

header > a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

header > a:hover{
    color: #01C3BE;
    text-decoration: underline;
}

.button{
    display: inline;
    margin: 20px;

}

#iser{
    position: absolute;
    left: 20px;
    background-color: #003777;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

#iorc{
    position: absolute;
    right: 20px;
    background-color: #01C3BE;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

@media (max-width: 800px) {
    header img{
        top: 30px;
        left: 30px;
    }

    header a{
        display: none;
    }

    .container{
        text-align: center;
        font-size: .8em;
        margin: auto;
        padding: 0;
    }

    .button{
        display: block;
    }

    #iser{
        position: relative;
        left: 0;
        background-color: #003777;
        color: white;
        padding: 10px;
        margin-top: 20px;
        border: none;
        border-radius: 20px;
    }
    
    #iorc{
        position: relative;
        right: 0;
        background-color: #01C3BE;
        color: white;
        padding: 10px;
        margin-top: 20px;
        border: none;
        border-radius: 20px;
    }
}